*.class
*.jar
*.iml
.idea
.DS_Store
/.lein-*
/.nrepl-port
/.repl
/checkouts/
/classes/
/lib/
/log/
/out/
/resources/public/js/out/
/resources/public/js/app.js
/target/
figwheel_server.log
pom.xml
pom.xml.asc
