.bg-grey {
    background-color: #efefef;
    padding: 1rem;
    border-radius: .3rem;
}

.padder {
    padding: 1rem;
    border-radius: .3rem;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.body-style {
  margin-top: 13%;
}

.form-select {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0.4rem !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0.4rem !important;

}

a {
  text-decoration: none !important;
}